/* general rules */

body {font-family: Georgia, Times, serif;}
h1 {font-size: 250%;}
h1, h2, h3 {font-weight: bold;}
h1, h2, h3 {font-style: oblique;}
ul {text-decoration: underline;}
ol {text-decoration: underline;}
a:link {text-decoration: underline;}
a:visited {text-decoration: line-through;}
p {line-height: 1.5em;}
p {text-align: left;}

/* id and class rules */

p#me {color: #7132a8;}
li.info {background-color: #dcfc4c;}

/* div practice */

div {border: thin solid #f383f7;}
div#page {height: 1000px; width: 1000px; overflow: scroll; 
       border: thin solid #d635f2;
       padding: 5px 5px 5px 5px;}
div.media {border: thin solid #34ebeb;}
div.forms {border: thin solid #6b6be8;}
ul.list {list-style-type: square;}
ol.list {list-style-type: decimal;}

/* table practice */

table {width: 500px; margin: 10px auto 10px auto; 
       background-color: #b6b8b8; color: #111115;
       border: thin solid #111111;}
th, td {padding: 10px 10px 10px 10px;
        border: thin solid #111113;}f
th {font-weight: bold;}

/* forms practice */

input {border: thin solid #111112; border-radius: 10px;
       background-color: #83838f;
       padding: 10px 10px 10px 30px;}
input:focus {background-color: #f5f5f7;}
input#submit {text-shadow: 0px 2px 2px #ffffff;
              background-color: #f51426;}
input#submit:hover {background-color: #bd202d;}
legend {font-weight: bold;}
fieldset {padding: 15px 15px 15px 15px;
          background-color: #47bd20;}

/* layouts practice */

body#index {width: 1000px; height: 2000px; margin: 0 auto;}
article#icolumn1, article#icolumn2 {width: 450px; margin: 10px; float: left;}
body#forms {width: 90%; margin: 0 auto;}
div#fcolumn1, div#fcolumn2 {width: 48%; float: left;}
p.copyright {position: absolute; top: 1000px;}

/* image css practice */

img.iimage {width: 250px; height: 250px; 
            display: block; margin: 0 auto;}
body#index {background-image: url("../images/fire.webp")}

/* flexbox and css grid */
nav {display: flex; list-style-type: none; flex-direction: row; align-items: center; justify-content: space-around;}
ul.nav {list-style-type: none;}
@media (width <= 600px) {
  nav {flex-direction: column; align-items: flex-start;} }
div#page {display: grid; grid-template-columns: 1fr 1fr; gap: 100px;}
header {grid-column: 1 / 2; grid-row: 1;}
nav {grid-column: 1 / 2; grid-row: 2;}
div#content {display: grid; grid-template-columns: 1fr 1fr; gap: 100px;}
div#content {grid-column: 1 / 2; grid-row: 3;}
article#icolumn1 {grid-column: 1; grid-row: 1;}
article#icolumn2 {grid-column: 2; grid-row: 1;}
aside {grid-column: 2; grid-row: 4;}
footer {grid-column: 1 / 2; grid-row: 5;}
@media (width <= 600px) {
  div#page {grid-template-columns: 1fr}
  article#icolumn2 {grid-column: 1; grid-row: 2;}
  footer {grid-column: 1; grid-row: 3;} }
header, section, footer, aside, nav, article, figure
{
display: block;}
